* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cor {
  color: azure;
  margin-top: 4rem;
}

h1,
h2 {
  font-size: 3rem;
  color: #bb0404;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
  align-items: center;
}

.form label {
  color: white;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: rgb(35, 140, 185);
  box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
  display: block;
  padding: 1rem;
  background: #e53637;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 30px;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #09d;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  width: '25%';
}
