#obg {
  font-size: 4rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
  width: 100%;
  height: auto;
  margin-top: 12rem;
}

#para {
  color: white;
  text-align: center;
}
